@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie');
/* This is a comment */

/* CSS Syntax */

p {
  font-size: 1em;
  line-height: 1em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}
